<nav class="navbar navbar-expand-sm bg-light fixed-top">
    <div class="container">
      <a class="navbar-nav" routerLink="/home"><img src="assets/images/quantum-academy.png" alt="Logo" id="nav-logo"/></a>
  
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-pills gap-2">

            <li class="nav-item text-center"><a class="nav-link home" aria-current="page" routerLink="/home" routerLinkActive="active bg-warning ">Home</a></li>
  
          <li class="nav-item text-center"><a class="nav-link logout" aria-current="page" routerLinkActive="active bg-warning" (click)="logOut()">Log out</a></li>
  
        </ul>
      </div>
    </div>
  </nav>

  <div class="container d-flex flex-column mb-5 ">
    <label class="switch">
        <input type="checkbox" id="toggleApplicantCheckbox" (click)="applicantCheckboxClick()" [(ngModel)]="showApplicantTable">
        <span class="slider round"></span>
        <p class="mt-3 text-nowrap">Toggle Applicants Table</p>
      </label>
    
    
      <label class="switch">
        <input type="checkbox" id="toggleComplaintCheckbox" (click)="complaintCheckboxClick()" [(ngModel)]="showComplaintTable">
        <span class="slider round"></span>
        <p class="mt-3 text-nowrap ">Toggle Complaints Table</p>
      </label>
  </div>


  <!-- applicant table --> 
  <div class="container" *ngIf="showApplicantTable">
    <h4 class="container " >Applicants Table</h4>
  <div class="table-responsive">
    <table class="table table-striped container-xl container-fluid-md text-center " >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Other Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">DOB</th>
          <th scope="col">Country</th>
          <th scope="col">State</th>
          <th scope="col">Gender</th>
          <th scope="col">Modality</th>
          <th scope="col">Course</th>
          <th scope="col">ID</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody *ngIf="displayUserDetails">
        <tr *ngFor="let student of students, let i = index">
          <th>{{i + 1}}</th>
          <td>{{student.first_name}}</td>
          <td>{{student.other_name}}</td>
          <td>{{student.last_name}}</td>
          <td>{{student.email}}</td>
          <td>{{student.date_of_birth}}</td>
          <td>{{student.country}}</td>
          <td>{{student.state_of_origin}}</td>
          <td>{{student.gender}}</td>
          <th>{{student.mode_of_learning}}</th>
          <td>{{student.course}}</td>
          <td>{{student.id}}</td>        
          <td><a class="btn"><i class="fas fa-edit" (click)="editApi(student)"></i></a></td>
          <td><a class="btn" (click)="deleteApi(student)"><i class="fas fa-trash-alt" ></i></a></td>
        </tr>
      </tbody>
  
      <tbody *ngIf="displayngModelForm">
        <tr *ngFor="let student of students, let i = index">
          <th>{{i + 1}}</th>
          <td><input [(ngModel)]="student.first_name" type="name" class="form-control"></td>
          <td><input [(ngModel)]="student.other_name" type="name" class="form-control"></td>
          <td><input [(ngModel)]="student.last_name" type="name" class="form-control"></td>
          <td><input [(ngModel)]="student.email" type="email" class="form-control"></td>
          <td><input [(ngModel)]="student.date_of_birth" type="date" class="form-control"></td>
          <td><select [(ngModel)]="student.country" class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option *ngFor="let country of countryApiContainer">{{country.country_name}}</option>
            </select></td>
          <td><select [(ngModel)]="student.state_of_origin" class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option *ngFor="let state of stateApiContainer">{{state.state}}</option>
            </select></td>
          <td><select [(ngModel)]="student.gender" class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option>Male</option>
              <option>Female</option>
              <option>Prefer not to specify</option>
            </select></td>
          <th><select [(ngModel)]="student.mode_of_learning" class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option>Online</option>
              <option>Physical</option>
            </select></th>
          <td><select [(ngModel)]="student.course" class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option *ngFor="let course of courses">{{course.course}}</option>
            </select></td>
          <td>{{student.id}}</td>
          <td><a class="btn" (click)="saveEdittedApi(student)"><i class="far fa-save"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

  <!-- complaint table --> 
  <div *ngIf="showComplaintTable">
    <h4 class="container " style="margin-top: 70px;">Complaints Table</h4>
  <div class="table-responsive">
    <table class="table table-striped container-xl container-fluid-md text-center " >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Complaint</th>
          <th scope="col">Details</th>
          <th scope="col">ID</th>
          <th scope="col">Resolve</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let complaint of complaints, let i = index">
          <th>{{i + 1}}</th>
          <td>{{complaint.first_name}}</td>
          <td>{{complaint.last_name}}</td>
          <td class="text-wrap">{{complaint.email}}</td>
          <td>{{complaint.phone_number}}</td>
          <td>{{complaint.reason_for_complaint}}</td>
          <td class="text-wrap">{{complaint.description}}</td>
          <td>{{complaint.id}}</td>
          <td><a class="btn" (click)="deleteComplaint(complaint)"><i class="fas fa-check"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

  <hr class="text-warning mt-5">


  <!--footer-->
  <footer class="section-p1 mt-4 w-100">

    <div class="d-flex flex-column w-100 ">
      <div class="col">
        <img class="footerlogo" src="assets/images/quantum-academy.png" alt="logo">
      </div>
  
      <div class="row w-100  d-flex  gap-5  justify-content-between flex-sm-row">
        <div class="col-md-2 col-sm-5">
          <h4 class="font-weight-bold">Contact</h4>
          <p><strong>Address:</strong> Pepper Road, Hazel Grove, Stockport, Cheshire, SK7 5SA, UK.</p>
          <p><Strong>Phone:</Strong> +44 2035 143305</p>
          <P><Strong>Hours:</Strong> 10:00 - 18:00, Mon - Fri</P>
          <div class="follow">
              <h4 class="font-weight-bold">Follow Us</h4>
              <div>
                  <i class="fab fa-facebook"></i>
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-instagram"></i>
                  <i class="fab fa-youtube"></i>
                  <i class="fab fa-pinterest"></i>
              </div>
          </div>
      </div>
  
      <div class="col-md-2 col-sm-5">
          <h4 class="font-weight-bold  ">Study</h4>
          <p>Undergraduate</p>
          <p>Postgraduate</p>
          <p>Distance learning</p>
          <p>Two-year accelerated degrees</p>
          <p>Partnerships</p>            
      </div>
  
      <div class="col-md-2 col-sm-5">
          <h4 class="font-weight-bold ">Information for</h4>
          <p>Schools and colleges</p>
          <p>Alumni</p>
          <p>Current students</p>
          <p>Current staff</p>         
      </div>
  
      <div class="col-md-2 install col-sm-5">
          <h4 class="font-weight-bold">Install App</h4>
          <p>Get app on Apple store or Play store</p>
          <div class="row d-flex gap-2" style="margin-left: 1px;">
              <div id="appStoreImg"></div>
              <div id="playStoreImg"></div>
          </div>
      </div>
      </div>
    </div>

    <div class="copyright">
      <p>&copy; Quantum Academy {{date}}</p>
    </div>
</footer>
