.login {
    min-height: 70vh;
    margin-top: 70px;
  }
  
  .bg-image {
    background-image: url('https://play-lh.googleusercontent.com/gwHEKMIhxYpj7moeK_DEvEntXtJ1oDLEPRmALK1TrIihtIKksoMrB5mDEzHN_pSOqfk');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .home:hover{
    background-color: #ffc107;
    color: white;
}

/* HTML: <div class="loader"></div> */
/* .loader {
  height: 80px;
  aspect-ratio: 1;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  --c:no-repeat linear-gradient(#5cb85c 0 0);
  background: var(--c), var(--c);
  background-size: 25% 50%;
  animation: l5 1.5s infinite linear;
}
.loader:after {
  transform: scale(-1);
}
@keyframes l5 {
  0%,
  5%   {background-position:33.4% 100%,66.6% 100%}
  25%  {background-position:33.4% 100%,100% 0}
  50%  {background-position:0 0,100% 0}
  75%  {background-position:0 0,66.6% 100%}
  95%,
  100% {background-position:33.4% 100%,66.6% 100%}
}  */

/* Center the loader in the middle of the screen */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a translucent background */
  z-index: 1000; /* Ensure the loader is on top of other elements */
}

/* Existing loader styling */
.loader {
  height: 80px;
  aspect-ratio: 1;
  display: grid;
}

.loader:before,
.loader:after {
  content: "";
  --c: no-repeat linear-gradient(#5cb85c 0 0);
  background: var(--c), var(--c);
  background-size: 25% 50%;
  animation: l5 1.5s infinite linear;
}

.loader:after {
  transform: scale(-1);
}

@keyframes l5 {
  0%,
  5% {
    background-position: 33.4% 100%, 66.6% 100%;
  }
  25% {
    background-position: 33.4% 100%, 100% 0;
  }
  50% {
    background-position: 0 0, 100% 0;
  }
  75% {
    background-position: 0 0, 66.6% 100%;
  }
  95%,
  100% {
    background-position: 33.4% 100%, 66.6% 100%;
  }
}